* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cont {
  height: 100vh;
}
.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(229, 216, 198);
}
.homepage h1 {
  color: rgb(198, 255, 247);
  text-shadow: 2px 2px cadetblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: tan;
  height: 10vh;
}
.navbar-link {
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 30px;
  padding: 20px;
  transition: all 0.5s ease;
  background-color: tan;
}

.navbar-link:hover {
  background-color: dodgerblue;
  color: hotpink;
}
#climb {
  border-radius: 30px;
  border: 1px solid gray;
}
